* {
    background-color: black;
    color: white;
    font-size: 16px;
    font-family: 'Dongle', 'Bebas Neue', sans-serif;
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar-w-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.movement {
    width: 20rem;
    margin: 1rem 0;
    padding: 0;
}

.hamburger {
    display: none;
}

@media only screen and (max-width: 768px) {
    .navbar-w-logo {
        flex-direction: row-reverse;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        margin-left: 1rem;
    }
}

.movement {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 24rem;
    margin: 2rem auto;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar {
    overflow: hidden;
    top: 80px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 0.3s ease;
    height: 50px;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin-left: 1rem;
}

.navbar ul li a {
    font-size: 2rem;
    border-radius: 3rem;
    padding: 0.5rem;
    transition: 0.2s;
    text-decoration: none;
    display: block;
}

.navbar ul li a:hover {
    color: black;
    background: white;
    margin: 0;
}

.hamburger {
    display: none;
    margin-right: 1rem;
}

@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .navbar ul {
        flex-direction: column;
        align-items: flex-start;
        display: none;
        padding: 1rem;
    }

    .navbar ul li {
        margin: 0;
    }

    .navbar.active ul {
        display: block;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 0;
    }
}

.wrapper {
    max-width: 31.25rem;
    width: 50%;
    margin: 1.25rem auto;
    padding: 1.87rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
}

.title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

.form {
    display: flex;
    flex-direction: column;
}

.Input_field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
}

.Input_field label {
    margin-bottom: 5px;
}

.Input_field input[type="text"] {
    padding: 10px;
    font-size: 2rem;
}

.Input_field textarea {
    padding: 10px;
    font-size: 16px;
    resize: vertical; 
    height: 100px;
    text-align: justify;
}

.terms {
    align-items: center;
    font-size: 14px;
}

#NotiCorreo {
    font-size: 19px;
    text-align: justify;
    font-family: 'Dongle', sans-serif;
}

.checkmark {
    margin-right: 5px;
}

.btn {
    padding: 3px 9px;
    background-color: #4caf50;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    font-family: 'Dongle', sans-serif;
}

#lugar{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-top: 49px;
    margin-bottom: 40px;
}

.ubicacion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37.93rem;
    border: 2px solid #ddd;
    border-radius: 5px;
}

.ubicacion iframe {
    width: 100%;
    height: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

.logo img {
    width: 4rem;
    height: 4rem;
    margin: 0;
    padding: 0;
}

.daniel-marulanda2023 {
    display: flex;
    justify-content: center;
}

footer {
    background-color: black;
    color: white;
    padding: 1rem;
    text-align: center;
}

.payment-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.payment-icons img {
    width: 2rem;
    margin: 0.5rem;
}

.socials {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0rem;
}

.socials img {
    width: 2rem;
    margin: 1rem;
}